:root {
    --accent-color: #8e32c6;;
    --main-color: #FFF;
    --add-color: #959595;
    --add-white: #8D8D8D;
    --main-bg-color: #C7C7C7;


  }
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  .header {
   
    background-color: #012D63;
  }
  .header-hero-list {
    display: flex;
    gap: 29px;
  }
  .hero-list-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
   }
.hero-title {
    color: #C7C7C7;
    font-family: Roboto;
    font-size: 24px;
 }
 .hero-language-list {
     background-color: #012D63;
  
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-bottom: 33px;
 }
 .hero-language-list-title {
  background-color: #012D63;
    color: #DCDCDC;
font-family: Roboto;
font-size: 24px;

}
.main {
  margin-top: 0px;
}
.main-section {
   
  height: 858px;
  background-image: url(../img/Fon1.jpg) ;
}
.main-logo {
  color: #FFF;
  font-size: 48px;
  }
.main-title {
  color: #FFF;
  font-family: Playfair Display;
    font-size: 144px;
   font-weight: 400;
}
.main-subtitle {
  color: #FFF;
font-family: Playfair Display;
    font-size: 72px;
   font-weight: 400;
}
.main-text {
  color: #FFF;
   width: 508px;
   height: 84px;
    font-family: Roboto;
    font-size: 18px;
   
}
.main-btn {
  width: 254px ;
  height: 57px ;
  background-color: #8e32c6;
  color: #FFF;
  font-family: Roboto;
    font-size: 24px;
    margin-top: 41px;
}
.main-icon-section {
  background-image: url(../img/fon2.png);
}
.main-icon-title {
  color: #FFF;
  
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews-section {
  background-image: url(../img/fon3.png);
}
.reviews-title {
  color: #FFF;
  
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews-list-text {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews-list-numbers {
color: #D8D8D8;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.reviews-list-name {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews-list-title {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-section {
  background-image: url(../img/fon4.png);
}
.mailto-list-title {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mailto-list-mail {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.mailto-section {
  background: #021635;
 
}
.mailto-section-text {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mailto-section-country {
  color: #FFF;
  
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}